/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #003366;
    background: #0A101F;
    color: #fff;
  }
  

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;  
  background-image: linear-gradient(to right,#0e162b, #2a2a48,#0e162b);
  position: sticky;
  top: 0;
  z-index: 1000;
  height:90px;
  width: 100%;
  box-sizing: border-box; 
}

.navbar-logo {
  font-size: 25px;
  font-weight: 600;
  color: #FFD369;
}

.navbar-links {
  
  display: flex;
  gap: 30px;  
  list-style: none;
  margin-right:20px;
}

.navbar-link {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  transition: color 0.3s ease;
 
}
.navbar-link:hover{
  text-decoration: underline;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #FFD369;
}

  /* Contact Section */
  .contact-section {
    padding: 50px 20px;
    text-align: center;
  }
  
  .contact-section h1 {
    font-size: 2.5rem;
    color: #FFD369; /* Yellow color */
    margin-bottom: 20px;
  }
  
  .contact-section p {
    font-size: 1.1rem;
    margin-bottom: 30px;
    color: #dcdcdc;
  }
  
  /* Contact Form */
  .contact-form {
    max-width: 600px;
    margin: 0 auto;
    background: #1B1B2F; /* Slightly lighter shade of #003366 */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 90%;
    padding: 10px 15px;
    margin: 15px 0;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .contact-form input {
    height: 45px;
  }
  
  .contact-form textarea {
    resize: none;
    height: 100px;
  }
  
  .contact-form button {
    display: inline-block;
    width: 90%;
    padding: 15px 15px;
    background-color: #FFD369; /* Yellow color */
    color: #031527; /* Dark blue text */
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .contact-form button:hover {
    background-color: #FFD369; /* Lighter yellow */
    transform: scale(1.05);
  }
  
  /* Animation */
  .contact-form button:active {
    transform: scale(0.95);
  }
  
  /* Social Links */
  .social-links {
    margin-top: 40px;
  }
  
  .social-links a {
    text-decoration: none;
    color: #FFD369;
    font-size: 1.5rem;
    margin: 0 15px;
    transition: all 0.3s ease;
  }
  
  .social-links a:hover {
    color: #FFD369; /* Lighter yellow */
  }
  
