* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @media (max-width: 768px) {
    select, input {
        width: 90%; 
    }
    #result {
        width: 90%; /* Adjust result container width for mobile */
    }

    form {
        margin-top: 10px; /* Reduce top margin for smaller screens */
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem; /* Adjust heading size for smaller screens */
    }

    select, input {
        width: 95%; /* Maximize input width for very small screens */
    }

    #result {
        width: 95%; /* Adjust result width for very small screens */
        margin-left: 10px;
    }

    form {
        margin-top: 5px; /* Further reduce top margin for smaller screens */
    }
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background: #0A101F;
    overflow-x: hidden; 
}

h1 {
    text-align: center;
    margin-top: 20px;
}

select, input {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    background: #333;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-color: antiquewhite;
    border-radius: 10px;
}

#additional-fields{
    align-self: center;
    justify-self: center;
    padding-left: 90px;
    width: 350px;
}


#result {
    display: flex;
    flex-direction: column;
    width: 50%;
    /* height: 160px; */
    height: auto;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 380px;
    border-color: antiquewhite;
    border-radius: 10px;
    background-color: #333;
    /* padding: 50px; */
    line-height: 1.8;
    /* width: 50px; */

}